button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 36;
}

.welcome_msg {
    font-size: 30;
    margin: 20;
}

.quote {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
