button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 10;
}

.welcome_msg {
    font-size: 10;
    margin: 20;
}

.quote {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}

.quote_of_day {
  font-size: 30;
  color: orange;
  text-align: center;
  margin: 0 20;
}

.detox-label {
  font-size: 20;
  margin: 20;
}

.detox-btn {
  font-size: 20;
  margin: 20;
}
