  <StackLayout>
     <Label text="What do you want to quit?" class="welcome_msg" textWrap="true"></Label>
     <TextField hint="Type why you want to quit" [(ngModel)]="why"></TextField>
     <!-- <DatePicker day="15" month="5" year="2015" verticalAlignment="center" horizontalAlignment="center"></DatePicker> -->
     <!-- <DatePicker verticalAlignment="center" horizontalAlignment="center" [(ngModel)]="last_time"></DatePicker> -->
     <!-- <Button text="Hit me" (tap)="testfx()"></Button> -->
     <Label [text]="last_time" class="welcome_msg" textWrap="true"></Label>
  </StackLayout>
