  <StackLayout>
     <Label text="What do you want to quit?" class="welcome_msg" textWrap="true"></Label>
     <TextField hint="Weed, Alcohol, Cocaine, Meth?" [(ngModel)]="why"></TextField>
     <Label text="Why do you want to quit?" class="welcome_msg" textWrap="true"></Label>
     <TextField hint="Because..." [(ngModel)]="why"></TextField>
     <!-- <DatePicker  verticalAlignment="center" horizontalAlignment="center"></DatePicker> -->
     <Label text="When was the last time you did used?" class="welcome_msg" textWrap="true"></Label>
     <!-- <DropDown #dd backroundColor="red" [items]="items" row="0" colSpan="2"></DropDown> -->
     <DatePicker verticalAlignment="center" horizontalAlignment="center" [(ngModel)]="last_time"></DatePicker>
  </StackLayout>
